
.colors{
    background-color: #0F131A;
    border-color: #0F131A;
}

.boton:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,9,121,1) 51%, rgba(15,19,26,1) 100%);
}

html {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

